
<div>
  <button mat-icon-button color="primary" aria-label="Example icon button with a vertical three dot icon">Add Venta
    <a routerLink="#"></a>
    <mat-icon>add_book</mat-icon>
</button> 
</div>

<table mat-table [dataSource]="prestamos" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="fechaDev">
      <th mat-header-cell *matHeaderCellDef> Fecha Devolucion </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaDev}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="fechaPres">
      <th mat-header-cell *matHeaderCellDef> Fecha Prestamo </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaPres}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="UsuarioId">
      <th mat-header-cell *matHeaderCellDef> Id Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.UsuarioId}} </td>
    </ng-container>

    <ng-container matColumnDef="EjemplarId">
      <th mat-header-cell *matHeaderCellDef> Id Ejemplar </th>
      <td mat-cell *matCellDef="let element"> {{element.EjemplarId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <a routerLink="#"></a>
          <mat-icon>edit</mat-icon>
      </button>
      
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <a routerLink="#"></a>
        <mat-icon>delete</mat-icon>
    </button> 
    </td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

